# Copy this file to .env and fill in your Binance Futures Testnet credentials.
# Never commit .env to version control.

BINANCE_API_KEY=Ct4HYLYU3gzBiQn1Ocw4JQG3IoLZHXXqxy0LAhAePEX7PQa889k37NOl799lskjg
BINANCE_API_SECRET=G2B3LHww0rILe3oAEEmspVMatGwzyfGZ75WqIuxbKVCqtVOvIGBMwZ7WYFkouPUd

# Optional – defaults to testnet URL below
BINANCE_BASE_URL=https://testnet.binancefuture.com
